body {
    background-color: rgba(18, 18, 19, 0.007);
    z-index: -999;
    min-height: 100vh;
    background-color: black;
    background-image: url(images/intro-img/gradient.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(96, 4, 108);

}

::-webkit-scrollbar-track {
    background-color: rgba(86, 87, 87, 0);

}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(199, 199, 199, 0.13);
    backdrop-filter: blur(10px);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav {
    display: flex;
    gap: 10px;
    list-style: none;
    font-weight: bolder;
    color: gray;
    cursor: pointer;
}

.header-a:hover {
    color: rgb(177, 177, 177);
}

.header-a {
    color: gray;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.Support-link-container {
    color: rgb(110, 108, 108);
    margin: 10px;
    border: .5px solid rgba(137, 43, 226, 0.261);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Support-link {
    width: 60px;
    padding: 10px;
    transition: transform .8s ease-in-out;
}

.Support-link img {
    width: 40px;
    margin-left: 30px;
}

.footer {
    color: rgba(178, 176, 176, 0.699);
    align-items: center;
    justify-content: center;
    z-index: 999;

    display: flex;
}

.Support-link img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.logout-btn {
    background-color: rgb(182, 43, 228);
    padding: 2px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    align-self: center;
    cursor: pointer;
}

.logout-btn:hover {
    color: white;
    box-shadow: 1px 1px 20px rgb(216, 112, 192);
}