.frontend {
  color: white;
  margin: 0;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;

}

.back-end-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.intro-container {

  display: flex;
  flex-direction: column;
  margin-top: 100px;
  color: rgb(184, 183, 183);
  font-weight: bolder;
  white-space: 1.5;
  border: solid 1px rgba(166, 166, 166, 0.15);
  box-shadow: 2px 2px 2px rgba(164, 163, 165, 0.161);
  border-radius: 5px;
  padding: 5px;
}

.intro-container img {
  border-radius: 5px;
}

.course-title {
  color: white;
}


.course-card-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 4px;
  padding: 10px;

}

.course-card {
  border: .5px solid blueviolet;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: transform .3s;
  position: relative;
}

.course-card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 10px rgba(111, 1, 139, 0.925);
}

.course-section {
  display: grid;

}

.course-card img {
  border-radius: 3px;
}

.course-card p {
  font-weight: bolder;
  white-space: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.course-card img {
  width: 100%;

}

.course-card button {
  padding: 10px;

}

.button-container button {
  background-color: rgb(8, 8, 8);
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  transition: .3 ease;
  text-decoration: none;
  text-align: center;
  font-size: 20px;


}

.button-container a:hover {
  color: blueviolet;
  box-shadow: 2px 2px 20px rgba(111, 1, 139, 0.925);
}

.button-container:hover {
  box-shadow: 2px 2px 20px rgba(111, 1, 139, 0.925);
}

.button-container {
  background: linear-gradient(to right, rgb(226, 43, 156), purple, purple, blueviolet, blueviolet);
  background-color: rgb(214, 208, 208);
  animation: start-button linear infinite 2s;
  background-position: 200%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4px;
  width: 100%;
}

@keyframes start-button {
  to {
    background-size: 200%;
  }
}

iframe {
  border: .3px solid rgba(137, 43, 226, 0.774);
  border-radius: 10px;
  transition: transform .3s ease-in;
}

iframe:hover {
  transform: scale(1.02);
}

.iframeHolder {
  display: none;
  color: gray;
  margin-top: 100px;
  padding: 6px;

}

.js-iframe-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  row-gap: 10px;

}

.description-container {
  color: gray;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width:1149px) {
  .js-iframe-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width:500px) {
  iframe {
    width: 300px;

  }
}